* {
    font-family: "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
    font-size: 1rem;

    min-height: 0;

    background-color: #000000;
    color: white;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: none;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
    margin: 6px 3px;
}

#battery.charging {
    color: #ffffff;
    background-color: #000000;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
}

#network.disconnected {
    background-color: #f53c3c;
}
