* {
    font-family: "JetBrainsMono Nerd Font", Helvetica, Arial, sans-serif;
    font-size: 1rem;

    background-color: #000000;
    color: white;
}

/* removes every effect from buttons */
#workspaces button {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;
    border: none;
}

#workspaces button.active {
    font-weight: 900;
}

#language,
#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#tray,
#custom-keyboard {
    padding: 0 12px;
    margin: 0 4px;
    /* border-right: 1px solid #fff; */
    /* border-left: 1px solid #fff; */
}

#battery.charging {
    color: #ffffff;
    background-color: #000000;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
}

#network.disconnected {
    background-color: #f53c3c;
}
